h1{
    color: yellow;
    text-align: center;
    border-width: 10px;
    border-style: none;
    border-color: coral;
    border-radius: 0px;
    background-color: coral;
    padding: 15px;
    overflow: hidden;
}

h2{
    color: crimson;
    text-align: center;
}

body{
    background-color: white;
}

a:active{
    color: rgb(0, 81, 255);
}
a{
    color: wheat;
    text-decoration: none;
    margin: 100px;
    font-size: 20px;
    border-style: none;
    border-width: 4px;
    border-radius: 5px;
    padding: 8px;
    background-color: coral;
}

p{
    text-align: center;
}

ol{
    font-size: large;
}

